.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}
  
.example-full-width {
  width: 100%;
}

td {
  padding-right: 8px;
}

.prijava{
  display: flex;
  justify-content: center;
}

.dugme{
  text-align: center;
  color: white !important;
  font-size: large;
}
.centar{
  display: flex;
  justify-content: center;
}
.prijava h1{
  color: #009688;
}
.nav-link{
  color: #004D40 !important;
  font-size: large;
}
.nav-item{
  height: 100%;
  text-align: center;
}



.crvena{
  background-color: #B31312;
  border-radius: 3cm;
}

h4{
  color: #004D40;
}

h3{
  color: #004D40;
}
.zelena tr td{
  color: #004D40;
}
.btn-success{
  background-color: #004D40 !important;

}
.mat-mdc-tab-body-content {
  height: 100%;
  overflow: hidden !important;
}

.obrisi{
  height: 30px;
  
}

td{
  text-align: center;
}

th{
  text-align: center;
}

.stanje{
  text-align: end;
  background-color: #009688;
  color: whitesmoke;
  border: 1px solid #009688;
  border-radius: 5px;
  padding: 5px;
  text-decoration: underline;
}