<div class="prijava">
    <br>
    <form class="example-form">
        <h1 style="text-align: center;">Prijava</h1>
        <table class="example-full-width" cellspacing="0">
            <tr>
            <td><mat-form-field class="example-full-width" color="primary">
              <mat-label>Korisničko ime</mat-label>
              <input matInput [(ngModel)]='korIme' name="korIme">
            </mat-form-field></td>
            </tr>
            <tr>
            <td><mat-form-field class="example-full-width">
              <mat-label>Lozinka</mat-label>
              <input matInput type="password" [(ngModel)]='pass' name="pass">
            </mat-form-field></td>
          </tr>
          <tr>
            <td colspan="2">
              <span style="color: red;">{{greska}}</span>
            </td>
          </tr>
          <mat-divider></mat-divider>
          <br>
          <tr>
            <td colspan="2" class="dugme">
                <button mat-raised-button color="primary" class="dugme"(click)="prijava()">Prijavi se</button>
            </td>
          </tr>
          
        </table>
    </form>
</div>

