.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  
  td {
    padding-right: 8px;
  }
  
  .prijava{
    display: flex;
    justify-content: center;
  }

  .dugme{
    text-align: center;
    color: white !important;
    font-size: large;
  }
  .prijava h1{
    color: #009688;
  }